<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <div class="container-fluid">
            <%- include('partials/header') %>
                <section class="row">
                    <%- include('partials/nav') %>
                        <div class="content col-md-9 col-12 p-0 ">
                            <div class="w-100 p-2 bg-white mt-2 mb-2">
                                <h3 class=" modal-header">Manage Classes</h3>
                                <div class="breadcrumb bg-transparent p-0">
                                    <div class="breadcrumb-item">Home</div>
                                    <div class="breadcrumb-item">Subject</div>
                                    <div class="breadcrumb-item">manage-classes</div>
                                </div>
                            </div>

                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="p-3">View Classes Info</h4>
                                            </div>

                                            <div class=" card-body">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <th>#</th>
                                                        <th>Class Name</th>
                                                        <th>Class Name Numeric</th>

                                                        <th>Craetion Date</th>
                                                        <th>Modifield Dated</th>
                                                        <th>Action</th>
                                                    </thead>
                                                    <tbody>


                                                        <% if (docs.length != 0) { %>

                                                            <% docs.forEach(doc => { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= docs.indexOf(doc) + 1 %>
                                                                    </td>
                                                                    <td>
                                                                        <%= doc.cname %>
                                                                    </td>
                                                                    <td>
                                                                        <%= doc.cnameNum %>
                                                                    </td>

                                                                    <td>
                                                                        <%= doc.createdAt.toLocaleString() %>
                                                                    </td>
                                                                    <td>
                                                                        <%= doc.updatedAt.toLocaleString() %>
                                                                    </td>
                                                                    <td>
                                                                        <i class="btn btn-info fa fa-edit"></i>
                                                                        <i class="btn btn-danger fa fa-trash-o"></i>
                                                                    </td>
                                                                </tr>
                                                                <% }) %>

                                                                    <% } else{%>
                                                                        <p>You have not register any Class</p>
                                                                        <% } %>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                </section>
        </div>

        <script src="../../public/lib/jquery//jquery.min.js "></script>
        <script src="../../public/lib/bootstrap/js/bootstrap.min.js "></script>
        <script src="../../public/js/admin.js"></script>

        <!-- datatable -->
        <script src="../../public/lib/dt/datatables/jquery.dataTables.js"></script>
        <script src="../../public/lib/dt/datatables-bs4/js/dataTables.bootstrap4.js"></script>
        <script>
            $(function() {
                $('.btn').on('click', function() {
                    $('.alert').show()
                })

                $('table').DataTable()
            })
        </script>
    </body>

</html>